.web-socket-client .chat-window {
    max-height: 50vh;
    width: 80vw;
}

.web-socket-client .chat-messages {
    height: 30vh;
    overflow-y: auto;
    padding: 15px;
}

.web-socket-client .chat-message {
    margin-bottom: 10px;
}

.web-socket-client .chat-window form {
    width: 100%;
}

.web-socket-client .chat-window input[type=text],
.web-socket-client .chat-window input[type=submit] {
    width: 100%;
}

.web-socket-client .main-window input {
    margin: 5px;
}

.web-socket-client .my-message {
    text-align: right;
    width: 100%;
}

.flip-vertical {
    transform: rotate(180deg);
}

.tiny {
    transform: scale(.5, .5);
}
