.main {
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}
.main .content, .main .content > *:not(.sidebar) {
    flex: 1;
}
.main .content {
    flex-direction: row;
    display: flex;
}
.main .sidebar {
    width: 150px;
    min-height: 100vh;
}
.main .footer, .main .topbar {
    width: 100%
}
.main .main-header {
    z-index: 2;
}
@media only screen and (max-width: 900px) {
    .main .sidebar {
        display: none;
    }
}
@media only screen and (max-width: 550px) {
    .main .footer {
        display: none;
    }
}
@media only screen and (min-width: 901px) {
    .main .topbar {
        display: none;
    }
}