.main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    position: relative;
}
.main .content, .main .content > * {
    flex: 1;
}
.main .sidebar {
    width: 150px;
    min-height: 100vh;
}
.main .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.main .topbar {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .main .sidebar {
        display: none;
    }
}
@media only screen and (min-width: 601px) {
    .main .topbar {
        display: none;
    }
}