.topbar {
    background-color: var(--foreground-color);
    color: var(--foreground-color-dark);
    padding: 5px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topbar a:visited, .topbar a:hover, .topbar a {
    color: var(--foreground-color-dark);
}