.home {
    padding: 15px;
}
/* .home .welcome-2-23-19 .card {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.home .welcome-2-23-19 .img-container {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.home .welcome-2-23-19 img, .home .welcome-2-23-19 a {
    width: 100%;
} */