.home {
    padding: 15px;
    font-size: 18px;
}

.home .welcome-card .img-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.home .welcome-card img, .home .welcome-card a {
    width: 100%;
}