.login .card {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.login .card input {
    width: 100%;
    margin-bottom: 15px;
}

.login .card input[type=submit] {
    background-color: var(--background-color-dark);
    color: var(--foreground-color);
}

.login .error {
    color: red;
    font-size: 12px;
}