.card {
    background-color: var(--foreground-color);
    color: var(--foreground-color-dark);
    padding: 15px;
    box-shadow: 0 0 1px 5px #999;
}
.card img.framed {
    border: 5px solid black;
}
.card a, .card a:visited, .card a:hover {
    color: var(--foreground-color-dark);
}