.card {
    word-break: break-word;
    background-color: var(--foreground-color);
    color: var(--foreground-color-dark);
    padding: 15px;
    box-shadow: 0 0 2px 1px #EEE,
                0 0 3px 1px #000;
}
.card img.framed {
    border: 5px solid black;
}

.error-card .card {
    background-color: red;
    color: white;
}