.sidebar {
    background-color: var(--foreground-color);
    text-align: right;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 5px #444;
}
.sidebar a, .sidebar a:visited, .sidebar a:hover {
    color: var(--foreground-color-dark);
}
.sidebar .links {
    width: 100%;
}
.sidebar .links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sidebar .links li {
    line-height: 50px;
    font-size: 22px
}

