.footer {
    padding: 3px 20px;
    text-align: center;
    box-shadow: 0 0 3px 1px #000;
    font-size: 14px;
    background-color: var(--background-color-dark);
    color: var(--foreground-color);
    box-sizing: border-box;
}

.footer a {
    color: var(--foreground-color);
}