.post .user-label, .post .date {
    font-size: 14px;
}

.post .title {
    font-size: 26px;
    margin-bottom: 4px;
}

.post .trash-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.post .header {
    margin-bottom: 20px;
}

.post .body {
    font-size: 18px;
}

.post iframe {
    width: 100%;
    height: calc(width);
}

.post .ql-editor {
    padding: 0;
}

.post .ql-container {
    border: 0 !important;
}