.post .details {
    font-size: 12px;
    box-shadow: 0 0 2px 1px var(--background-color);
    background-color: var(--background-color-dark);
    color: var(--foreground-color);
    padding: 5px;
}

.post .details a {
    color: var(--foreground-color);
}

.post .user-label {
    margin-bottom: 6px;
}

.post .title {
    font-size: 30px;
    margin-bottom: 8px;
    font-style: italic;
    color: #000;
    display: flex;
    justify-content: space-between;
}

.post .trash-icon, .post-editor .trash-icon, .post .edit-icon, .post .save-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 5px;
}

.post .header {
    margin-bottom: 12px;
}

.post iframe, .post-editor iframe {
    width: 100vw;
    height: calc(80vw * (9/16));
}

.post .ql-container, .post-editor .ql-container {
    font-size: 14px;
    font-family: var(--font-family);
    padding: 0;
}

.post[readOnly] .ql-editor {
    padding: 0;
}

.post[readOnly] .ql-container {
    border: 0 !important;
}