.post .user-label, .post .date {
    font-size: 14px;
}

.post .title {
    font-size: 26px;
    margin-bottom: 4px;
}

.post .trash-icon, .post-editor .trash-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.post .header {
    margin-bottom: 20px;
}

.post iframe, .post-editor iframe {
    width: 100vw;
    height: calc(80vw * (9/16));
}

.post .ql-editor {
    padding: 0;
}

.post .ql-container {
    border: 0 !important;
}