body {
  --foreground-color: rgb(224, 224, 224);
  --foreground-color-dark: rgb(54, 47, 53);
  --background-color: rgb(116, 90, 116);
  --background-color-dark: rgb(78, 1, 78);
  --font-family: 'Averia Serif Libre';
  /* --font-family: 'Belgrano'; */
  /* --font-family: 'Press Start 2P'; */
  /* --font-family: 'Source Sans Pro'; */

  background-image: linear-gradient(rgb(116, 90, 116), rgb(58, 51, 51));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  font-family: var(--font-family);
  color: var(--background-color);
}

a:visited, a {
  color: rgb(105, 54, 73);
  text-decoration: none;
}
a:hover {
  color: rgb(25, 51, 168);
}